{% extends 'base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{%block menu%}

<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            loopis
        </a>
    </div>

</div>
</div>

<div class="main-panel">

    {%endblock%}
    {%block content%}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <center><h2>
                                        Cadastro efetuado com sucesso!
                                    </h2></center>
                                    <a href="{% url 'god'%}">Voltar</a>

                                </div>
                            </div>
                        </div>
                        {%endblock%}
                        {%block extende%}

                        <div class="collapse navbar-collapse off-canvas-sidebar" data-background-color="white" data-active-color="danger"><div class="sidebar-wrapper"><div class="logo">
                            <a href="#" class="simple-text">
                                loopis
                            </a>
                        </div><ul class="nav navbar-nav">
                        <li>
                            <a href="#">
                                <i class="ti-user"></i>
                                <p>Participantes</p>
                            </a>
                        </li>

                        <li class="active">
                            <a href="#">
                                <i class="ti-ruler-pencil"></i>
                                <p>Cursos</p>
                            </a>
                            <li class="has child active opened" align="right"><i class=""></i><a>Cadastro de curso</a></li>
                        </li>

                    </ul></div></div>



                    {%endblock%}




